<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!--
      When restoring a project with a packages.config, NuGet copies the package contents to the location
      specified by "repositoryPath".  If none of the projects in the repo are using packages.config, this
      setting can be removed.
    -->
    <add key="repositoryPath" value=".\packages" />
    <add key="maxHttpRequestsPerSource" value="16" />
  </config>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="OneBranch-Consumption-Extended" value="https://pkgs.dev.azure.com/msazure/One/_packaging/OneBranch-Consumption-Extended/nuget/v3/index.json" />
  </packageSources>
</configuration>