<?xml version="1.0" encoding="utf-8"?>
<packages>

  <!--
    *******************************************************************************************************************
    C++ Packages
      Kits: Windows SDK
      VisualCpp Tools: C++ Compiler, STL
  -->
  <package id="Kits" version="10.0.18362.1" />
  <package id="Microsoft.Cpp.TestFramework" version="15.7.27406" />
  <package id="VisualCppTools" version="14.31.31104" />
</packages>